body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

code {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

a.MuiButton-root,
button.MuiButton-root {
    text-transform: none;
}
